.clip {
  display: block;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
}

.clip:focus-visible {
  outline: var(--strokeWidthThick) solid var(--colorStrokeFocus2);
  outline-offset: calc(-1 * var(--strokeWidthThick));
}

.text {
  display: inline-block;
  width: max-content;
}
