.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacingVerticalXS) var(--spacingHorizontalS);
  margin-top: var(--spacingVerticalS);
  font-size: var(--fontSizeBase200);
  line-height: var(--lineHeightBase200);
  overflow-wrap: anywhere;
}

.root svg {
  vertical-align: text-bottom;
}
